<script src="static/js/jquery.js"></script>
<script>
	$(document).ready(function() {
		$("#navbar-container").load("static/navbar.html");
		$("#header-container").load("static/header.html");
		$("#footer-container").load("static/footer.html");
	});
</script>

<link href="static/css/main.css" rel="stylesheet" type="text/css">


<div id="header-container"></div>

<div id="navbar-container"></div>

<body>

<div id="bodycontainer">

<h2>Welcome to DeepView</h2>

<p>Here's a picture of my cat</p>

<img src='static/images/extra/macat.jpg'>

</div>

<body>

<div id="footer-container"></div>