<script src="static/js/jquery.js"></script>
<script>
	$(document).ready(function() {
		$("#navbar-container").load("static/navbar.html");
		$("#header-container").load("static/header.html");
		$("#footer-container").load("static/footer.html");
	});
</script>

<link href="static/css/main.css" rel="stylesheet" type="text/css">


<div id="header-container"></div>

<div id="navbar-container"></div>

    
<div id="bodycontainer">

    <table id='main'>
    	<tr>
			<td>
				<p>White Elo</p>
				<input class="textbox" type="text" id="whiteElo">
				<br/>
				<button class="myButton" onclick='updateEloWinLossPerc()'>Find W/L</button>

			</td>
			<td>
				<p>Black Elo</p>
				<input class="textbox" type="text" id="blackElo">
				<br/>
				<button class="myButton" onclick='reverseValues()'>Reverse Values</button>

			</td>
			<td>
				<p>Chess24 Engine Score</p>
				<input class="textbox" type="text" id="engineScore">
				<br/>
				<button class="myButton" onclick='updateEngineScorePerc()'>In-Game %</a>

			</td>
		</tr>


		<tr>
			<td>
				<u>Win/Loss</u>
			</td>
			<td>
			</td>
			<td>
				<u>In-Game Probability</u>
			</td>
		</tr>
		

		<tr>
			<td>
				<p id="winloss"></p>
			</td>
			<td>
			</td>
			<td>
				{% if cpWhiteProb %}
				
				<p>White Percent: {{ cpWhiteProb }}%</p>
				<p>Black Percent: {{ cpBlackProb }}%</p>
				
				{% endif %}
			
			</td>
		</tr>
	</table>
<br/>

</div>

<div id="footer-container"></div>


<script type="text/javascript">

	function initialize(){
		var baseURL = window.location.href;
		var whiteString = 'whiteElo=';
		var	blackString = 'blackElo=';
		
		if (baseURL.indexOf(whiteString) >-1 || baseURL.indexOf(blackString)>-1){
			var whiteEloStart = baseURL.indexOf(whiteString)+whiteString.length;
			var whiteEloEnd = baseURL.indexOf('&blackElo');
			document.getElementById("whiteElo").value = baseURL.substring(whiteEloStart,whiteEloEnd);
		
			var blackEloStart = baseURL.indexOf(blackString)+blackString.length;
			document.getElementById("blackElo").value = baseURL.substring(blackEloStart,baseURL.length);
			}
		}
		
 	function updateEngineScorePerc(){
 		var baseURL = window.location.href;
 		var engineScoreVal = document.getElementById("engineScore").value;
 		if (engineScoreVal.indexOf('-') == -1){//if positive engine score
 			//if positive value engine score
 			baseURL = baseURL.substring(0,baseURL.indexOf("/stats")+6);
 			baseURL = baseURL + "?engineScore="+engineScoreVal;
 			window.location.href = baseURL;
 			}
 		else{
 			baseURL = baseURL.substring(0,baseURL.indexOf("/stats")+6);
 			baseURL = baseURL + "?engineScore="+"m"+engineScoreVal.substring(1,engineScoreVal.length);
 			window.location.href = baseURL;
 			}
 		}
		


	function updateEloWinLossPerc(){
		var white = document.getElementById("whiteElo").value;
		var black = document.getElementById("blackElo").value;
	
		if(!(isNaN(white)) && !(isNaN(black))){
			var percentage = (1/(1+Math.exp(-0.33384705-0.00797271*(Number(white)-Number(black))))*100).toFixed(0);
			document.getElementById("winloss").innerHTML = "<p>White Win: "+percentage+"%</p><p>Black Win: "+((100-percentage).toFixed(0))+"%</p>";
			} 
		else{
			document.getElementById("winloss").innerHTML = "Not valid input. Try positive integers";
			}
		}
	
	function reverseValues(){
		var white = document.getElementById("whiteElo").value;
		var black = document.getElementById("blackElo").value;
		document.getElementById("whiteElo").value = black;
		document.getElementById("blackElo").value = white;
		}
		
	initialize();
	
</script>