footer {
	padding:50px;

	}
	
footer a{
	text-decoration: none;
	color:#000000;
	}
	
body {
	padding:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Helvetica;
	}
	
#heading {
	font-size:30px;
	padding:50px;
	}
	
#navigation {
	margin-left:auto;
	margin-right:auto;
	padding:50px;
	}
	
table {
	}
	
td a{
	padding:10px;
	font-size:30px;
	color:#000000;
	text-decoration:none;
	}
	
html {
	background-color:white;
	}